---
import { Sections } from "@/constants";
---

<div
  x-data="{ open: false }"
  class="fixed z-50 w-full px-3 py-2 transition-all duration-1000 rounded-xl mt-4 inset-x-0 mx-auto ease-in-out transform max-w-2xl header"
>
  <div
    class="flex flex-col w-full p-2 mx-auto md:items-center md:justify-between md:flex-row"
  >
    <div class="flex flex-row items-center justify-between">
      <span class="font-bold tracking-tighter text-black uppercase site-title"
        >JE MARTINEZ</span
      >
      <button
        class="md:hidden focus:outline-none nav-toggle"
        @click="open = !open"
      >
        <!-- SVG Burger goes here -->
        <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
          <path
            x-show="!open"
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z"
            clip-rule="evenodd"></path>
          <path
            x-show="open"
            fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>
    <nav
      :class="{'flex mt-4': open, 'hidden': !open}"
      class="flex-col flex-grow gap-8 hidden pb-4 md:pb-0 md:flex md:flex-row lg:ml-auto justify-end"
    >
      <a href={`#${Sections.Hero}`} class="text-black nav-link">Home</a>
      <a href={`#${Sections.About}`} class="text-black nav-link">About</a>
      <a href={`#${Sections.Skills}`} class="text-black nav-link">Skills</a>
      <a href={`#${Sections.Experience}`} class="text-black nav-link"
        >Experience</a
      >
      <a href={`#${Sections.Contact}`} class="text-black nav-link">Contact</a>
    </nav>
  </div>
</div>

<script type="module">
  document.addEventListener("DOMContentLoaded", function () {
    const header = document.querySelector(".header");
    const navLinks = document.querySelectorAll(".nav-link");
    const title = document.querySelector(".site-title");

    updateHeader();

    window.addEventListener("scroll", function () {
      updateHeader();
    });

    navLinks.forEach(function (link) {
      link.addEventListener("click", function () {
        updateHeader();
      });
    });

    function updateHeader() {
      const atTop = window.pageYOffset <= 50;
      header.classList.toggle("bg-white", atTop);
      header.classList.toggle("bg-black", !atTop);
      header.classList.toggle("bg-opacity-90", !atTop);
      header.classList.toggle("backdrop-blur-xl", !atTop);
      header.classList.toggle("max-w-3xl", !atTop);
      updateTextColors(atTop);
      updateTitleColor(atTop);
    }

    function updateTextColors(atTop) {
      const textColor = atTop ? "text-black" : "text-white";
      navLinks.forEach(function (link) {
        link.classList.remove(atTop ? "text-white" : "text-black");
        link.classList.add(textColor);
      });
    }

    function updateTitleColor(atTop) {
      title.classList.remove(atTop ? "text-white" : "text-black");
      title.classList.add(atTop ? "text-black" : "text-white");
    }
  });
</script>
